---
layout: default
description: "记录想法"
---
{% include header.html %}
<div class="book font-size-2 font-family-1 with-summary">
    <div class="book-body">
        <div class="body-inner">
            <div class="page-wrapper" tabindex="-1">
                <div class="page-inner">
                    <section class="normal">
                        <h1>DevNotes</h1>
                        {% for post in site.posts %}
                        	<p> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>{{ post.date | date: "%Y-%m-%d" }}</p>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
