---
layout: default
---

<div class="book font-size-2 font-family-1 with-summary">
    <div class="book-body">
        <div class="body-inner">
            <div class="book-header">
                <a href="/" class="btn"><i class="fa fa-align-justify"></i></a>
            </div>
            <div class="page-wrapper" tabindex="-1">
                <div class="page-inner">
                    <section class="normal">
                        <h1>{{ page.title }}</h1>
                        {{ content }}

                        <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


